<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>

Fidzal Adrian

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

<ul>
    <li>List popular languages for Data Science</li>
    <li>Introduce commonly used libraries in Data Science</li>
    <li>Create a table using markdown to list Data Science tools</li>
    <li>Aritmethic using python</li>
    <li>Convert units of time in Python code</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>MATLAB</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>NumPy</li>
    <li>Pandas:</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Scikit-learn</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200

convert = minutes / 60

print(str(minutes) + " minutes convert to hours is " + str(convert) + " hours")

200 minutes convert to hours is 3.3333333333333335 hours